.item-card {
    display: flex;
    flex-direction: column;
    padding: 5px;
    width: 15%;
    margin-right: 5%;
    margin-bottom: 20px;
    min-width: 200px;
    background: #f6ffb0;
    cursor: pointer;
}

/* .item-card:nth-child(5n) {
    margin-right: 0;
} */

.item-card__title {
    font-size: 24px;
    margin: 5px 0;
}

.item-card__year {
    margin: 10px 0;
}

.item-card__poster {
    display: block;
    width: 100%;
}