.modal-window__content{
    background: white;
    position: fixed;
    top: 50%;
    right: 50%;
    transform: translateX(50%) translateY(-50%);
    box-shadow: 5px 5px 3px grey;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.modal-window__button{
    position: absolute;
    top: 10px;
    right: 10px;
    background: #f1ffa5;
    border: none;
    border-radius: 50%;
    padding: 10px 15px;
    cursor: pointer;
}